<div class="container col col-md-12 col-sm-12" *ngIf="dados && dadosVendaUsuario">

    <div class="row g-3 mt-5">
        <div class="col col-md-6 col-sm-12">

            <!-- Marca -->
            <div class="d-flex flex-row bd-highlight mb-3 justify-content-around">
                <p class="fw-bolder col-md-3">Marca: </p>
                <p class="fw-normal col-md-3 ">{{dados.Marca}} </p>
            </div>
            <!-- Fim Marca -->

            <!-- Modelo -->
            <div class="d-flex flex-row bd-highlight mb-3 justify-content-around">
                <p class="fw-bolder col-md-3">Modelo: </p>
                <p class="fw-normal col-md-3 ">{{dados.Modelo}} </p>
            </div>
            <!-- Fim Modelo -->

            <!-- Ano fabricação -->
            <div class="d-flex flex-row bd-highlight mb-3 justify-content-around">
                <p class="fw-bolder col-md-3">Ano fabricação: </p>
                <p class="fw-normal col-md-3 ">{{dados.AnoModelo}} </p>
            </div>
            <!-- Fim Ano fabricação -->

            <!-- Código FIPE -->
            <div class="d-flex flex-row bd-highlight mb-3 justify-content-around">
                <p class="fw-bolder col-md-3">Código FIPE: </p>
                <p class="fw-normal col-md-3 ">{{dados.CodigoFipe}} </p>
            </div>
            <!-- Fim Código FIPE -->

            <!-- Mês referência -->
            <div class="d-flex flex-row bd-highlight mb-3 justify-content-around">
                <p class="fw-bolder col-md-3">Mês referência: </p>
                <p class="fw-normal col-md-3 ">{{dados.MesReferencia}} </p>
            </div>
            <!-- Fim Mês referência -->

        </div>
        <div class="col col-md-6 col-sm-12">
             <!-- Valor do veículo -->
             <div class="d-flex flex-row bd-highlight mb-3 justify-content-around">
                <p class="fw-bolder col-md-3">Valor do veículo: </p>
                <p class="fw-normal col-md-3 ">{{dadosVendaUsuario.valorUsuario | currency:'BRL'}} </p>
            </div>
            <!-- Fim Valor do veiculo -->

            <!-- Modelo -->
            <div class="d-flex flex-row bd-highlight mb-3 justify-content-around">
                <p class="fw-bolder col-md-3">Valor pela Fipe: </p>
                <p class="fw-normal col-md-3 ">{{dados.Valor}} </p>
            </div>
            <!-- Fim Modelo -->

            <!-- Mensagem -->
            <div class="d-flex flex-row bd-highlight justify-content-center m-0">
                <p class="fw-bolder col-md-6 yellow" 
                [ngClass]="{'red': dadosVendaUsuario.percentual >= 10, 
                'green': dadosVendaUsuario.percentual <= -10}">{{dadosVendaUsuario.mensagem}} </p>
            </div>
            <!-- Fim Mensagem -->

            <!-- Porcentagem -->
            <div class="d-flex flex-row bd-highlight justify-content-center">
                <p class="fw-bolder col-md-6 mensagem float-start yellow" 
                [ngClass]="{'red': dadosVendaUsuario.percentual >= 10, 
                'green': dadosVendaUsuario.percentual <= -10}">{{dadosVendaUsuario.percentual}} %</p>
            </div>
            <!-- Fim Porcentagem -->
            
        </div>

        <div class="alert alert-primary" role="alert" 
            [ngClass]="{'alert-danger': dadosVendaUsuario.percentual >= 10, 
            'alert-success': dadosVendaUsuario.percentual <= -10}">
            {{dadosVendaUsuario.mensagem}}
          </div>
    </div>


</div>