<div class="container text-center">

    <h1>Simulador para venda de veículo</h1>

    <form [formGroup]="formVeiculo">

        <div class="row g-3 mt-5">
            <div class="col"> 
                <label for="tipo" class="form-label">Tipo de veículo</label> 
                <select id="tipo" formControlName="tipoVeiculo"
                    class="form-select" aria-label="Selecione o tipo de veiculo">
                    <option selected>Veículo</option>
                    <option value="carros">Carro</option>
                    <option value="motos">Moto</option>
                    <option value="caminhoes">Caminhão</option>
                </select> 
            </div>

            <div class="col"> <label for="marca" class="form-label">Marca</label> 
                <select id="marca" class="form-select" formControlName="marcaVeiculo"
                    aria-label="Selecione a marca do veiculo">
                    <option *ngFor="let marca of marcas" [value]="marca.codigo">{{marca.nome}}</option>
                    
                </select>
            </div>

            <div class="col"> <label for="modelo" class="form-label">Modelo</label>
                 <select id="modelo" class="form-select" formControlName="modeloVeiculo"
                    aria-label="Selecione o tipo de veiculo">
                    <option *ngFor="let modelo of modelos" [value]="modelo.codigo">{{modelo.nome}}</option>
                </select> 
            </div>

            <div class="col"> <label for="ano" class="form-label">Ano</label> 
                <select id="ano" class="form-select" formControlName="anoVeiculo"
                    aria-label="Selecione o ano do veiculo">
                    <option *ngFor="let ano of anoFabricacao" [value]="ano.codigo">{{ano.nome}}</option>
                    
                </select> 
            </div>
        </div>
        <div class="row mt-5">
            <div class="col col-sm-12 col-md-10">
                <div class="input-group mb-3">
                    <span class="input-group-text">R$</span>
                    <input type="number" class="form-control"
                     formControlName="valorVeiculo"
                     placeholder="Valor do veículo" aria-label="valor" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col col-sm-10 col-md-2" >
                <button type="button" class="btn btn-primary" (click)="pesquisar()">Calcular</button>
            </div>
        </div>
    </form>

</div>

<div class="col-md-12">
    <app-resultado-calculo-veiculo></app-resultado-calculo-veiculo>
</div>